body{color:#000;background:#fff;font-size:12px;}
body,input,select,button{font-family:verdana}
h1,h2,h3,select,input,button{font-size:100%}
body,h1,h2,h3,ul,li,form,p,img{margin:0;padding:0;border:0}
input,button,select,img{margin:0;line-height:normal}
select{padding:1px}
ul{list-style:none}
select,input,button,button img,label{vertical-align:middle}
header,footer,section,aside,nav,hgroup,figure,figcaption{display:block;margin:0;padding:0;border:none}
a{text-decoration:none;color:#434343}
a:hover{color:#626262}

.logo{background:url(../images/logo.png) no-repeat left 0; height:81px; float:left; width:374px;}
.header{height:81px;}
.header-inner{ width:1002px; margin-left:auto; margin-right:auto;}
.date{ float:left; padding-left:5px; font-size:14px; color:#FFF}
.search{ float:right; padding-right:5px;color:#a7a7a7}
.search div{ padding-top:10px;}
.search a{color:#a7a7a7}
.hd{background-color:#dfdfe1; height:294px; border-bottom:#FFF solid 1px;text-align:center;}
.hd div{width:1002px;margin-left:auto; margin-right:auto;height:293px;}
.hd1{background-color:#fff; height:294px; border-bottom:#FFF solid 1px;text-align:center}
.hd1 div{width:1002px;margin-left:auto; margin-right:auto;height:293px;}

.menu{  height:64px; line-height:64px;background-image:url(../images/dh1.png); background-repeat:repeat-x; height:64px;}
.menu-inner{ width:1002px; margin-left:auto; margin-right:auto}


.wrapper{ width:1002px; margin:0 auto; height: auto; padding-top:10px; }
.bg1{background-image:url(../images/bg1.png); background-repeat:repeat-x;}
.mar_t_10{ height:10px; line-height:10px; clear:both}
.mar_t_15{  height:15px; line-height:15px; clear:both}
.mar_t_20{  height:20px; line-height:20px; clear:both}
.main-left{ float:left;}
.main-mid{ float:left; margin-left:30px; width:395px;}
.news{}
.news-title{ background:url(../images/news_bg.png) no-repeat 0px 15px; height:39px; line-height:39px;}
.news-title p{ color:#020202;font-size:14px; font-family:"å¾®è½¯é›…é»‘";float:left; padding-left:20px;}
.news-title p span{ font-size:12px; color:#989898; font-weight:normal; padding-top:5px; padding-left:20px;float:left;}
.news-title span{ float:right;  font-family:"å¾®è½¯é›…é»‘"; font-size:12px;}
.news-title span a{color:#376abb;}
.news-title-img{padding:5px 0px;text-align:center;font-size:14px;font-weight:bold;}
.news-title-jianjie{ font-size:12px; line-height:26px; color:#9c9c9c;}
.news-title-xian{ border-bottom:#e4e4e4 dashed 1px; height:95px;}
.main-mid ul{ margin:0px auto; margin-top:8px;}
.main-mid li{height:28px; line-height:28px; font-size:12px;}
.main-mid li a{ float:left; background:url(../images/ico3.png) no-repeat 0px 12px; padding-left:15px; }
.main-mid li a:hover{ float:left; background:url(../images/ico3.png) no-repeat 0px 12px; padding-left:15px; color:#376abb}
.main-mid li span{ float:right; font-size:12px; color:#a1a1a1; font-family:"å®‹ä½“"}
.main-right{ float:right; width:355px;}
.main-right ul{ margin:0px auto; height:90px;}
.main-right li{height:28px; line-height:28px; font-size:12px;}
.main-right li a{ float:left; background:url(../images/ico3.png) no-repeat 0px 12px; padding-left:15px; }
.main-right li a:hover{ float:left; background:url(../images/ico3.png) no-repeat 0px 12px; padding-left:15px; color:#376abb }
.main-right li span{ float:right; font-size:12px; color:#a1a1a1; font-family:"å®‹ä½“"}
.notice{ background-image:url(../images/notice.png); background-repeat:no-repeat; width:244px; height:21px; line-height:21px;}
.notice p{ color:#ff4518;font-size:20px; font-family:"å¾®è½¯é›…é»‘"; float:left}
.notice p font{float:left}
.notice p span{ font-size:12px; color:#989898; font-weight:normal; padding-top:5px;  padding-left:30px;float:left;}

.notice span{ float:right;  font-family:"å¾®è½¯é›…é»‘"; font-size:14px;}
.notice span a{color:#989898;}
.left{ float:right;width:755px;}
.left ul{}
.left li{ float:left;}
.right{ float:left; padding-bottom:10px; width:190px;}
.border{ border:#ebebeb solid 1px;}
.glxt{ background-image:url(../images/title1_bg.png); background-repeat:no-repeat; height:39px; line-height:39px; margin-left:-5px;}
.glxt p{ color:#fff;font-size:14px; font-family:"å¾®è½¯é›…é»‘"; float:left; line-height:30px; padding-left:15px;}
.glxt_ul{margin:0px; clear:both; padding:0px;border:#ebebeb solid 1px} 
.glxt_ul li{height:55px; line-height:55px; font-size:14px; padding-left:25px;}
.glxt_ul ul{background:url(../images/ico4.png) no-repeat 0px 5px;}
.jzxx{ margin-top:5px;}
.jzxx img{ padding:1px;border:#ebebeb solid 1px; width:186px;}
.jzxx2{ margin-top:5px;}
.jzxx2 img{ padding:1px;border:#ebebeb solid 1px; width:186px;}
.right_inner{}
.right_inner ul{ margin:0px 15px; clear:both; padding:0px;}
.right_inner li{height:30px; line-height:30px; font-size:14px; clear:left}
.right_inner li a{ background:url(../images/ico1.png) no-repeat 0px 6px; padding-left:20px; }
.right_inner li a:hover{background:url(../images/ico2.png) no-repeat 0px 6px; padding-left:20px; color:#fd3e00}

.scroll{ background-image:url(../images/scroll.png); background-repeat:no-repeat; width:745px; height:171px; clear:left;padding-top:10px;margin-top:10px;}
.left_fl{ float:left;}
.left_fl p{ color:#ff4518;font-size:18px; font-family:"å¾®è½¯é›…é»‘";float:left; }
.left_fl span{ float:right;  font-family:"å¾®è½¯é›…é»‘"; font-size:12px;padding-top:5px;}
.left_fl span a{color:#989898;}
.left_inner{ width:354px; background-image:url(../images/news_bg.png); background-repeat:no-repeat; }
.left_inner p{float:left;height:25px;}
.left_inner p font{float:left;width:80px;}
.left_inner p span{ font-size:12px; color:#989898; font-weight:normal; padding-top:5px;padding-left:20px;float:left;}
.left_inner ul{ margin:10px auto; clear:both; padding:0px 0px;}
.left_inner li{ font-size:14px; clear:left;width:350px;height: 30px;line-height: 30px;
}
.left_inner li a{ background:url(../images/ico1.png) no-repeat 0px 6px; padding-left:20px; }
.left_inner li a:hover{background:url(../images/ico2.png) no-repeat 0px 6px; padding-left:20px; color:#fd3e00 }
.right_fl{ float:right;}
.right_fl p{ color:#ff4518;font-size:18px; font-family:"å¾®è½¯é›…é»‘"; float:left;text-align:center}
.right_fl span{ float:right;  font-size:12px;padding-top:5px;}
.right_fl span a{color:#989898;}

.friendlink_bg{ background-color:#eeeeef; height:68px; padding-top:10px;}
.friendlink{ width:1002px; margin-left:auto; margin-right:auto;background:url(../images/friendlink.png) no-repeat 0px 2px;}
.friendlink p{ padding-left:15px;font-size:14px; font-family:"å¾®è½¯é›…é»‘"; height:20px; color:#020202}
.friendlink ul{clear:both; margin-top:10px;}
.friendlink ul li{height: 22px;
    font-size: 14px;
    float: left;
    padding-right: 10px;}

.footer{ background-color:#376abb;height:60px; clear:both; color:#FFF; line-height:60px;text-align:center;clear: both;}
.height5{ height:5px; line-height:5px; clear:both}
.height10{ height:10px; line-height:10px; clear:both}
.height15{ height:15px; line-height:15px; clear:both}
.height20{ height:20px; line-height:20px; clear:both}
.clear{ clear:both; height:0px;}

.list_fl{ width:210px; float:left;}
.list_fl2{ width:230px; float:left;}
.list_fl2 ul {
    clear: both;
    padding-top: 3px;
    padding-bottom: 50px;
    border-top: #376abb solid 2px; background:url(../images/bg2.png) no-repeat 0px 10px;
}
.list_fl2 ul li{ height:45px; line-height:45px; text-align:center; font-size:14px; font-weight:bold}
.list_fl2 ul li a{ color:#376abb;}
.list_title{color:#fff;font-size:18px; font-family:"å¾®è½¯é›…é»‘"; float:left; width:210px; text-align:center; background-image:url(../images/list_fl.png); background-repeat:no-repeat; height:45px; line-height:45px;}
.list_titlea{color:#fff;font-size:18px; font-family:"å¾®è½¯é›…é»‘"; float:left; width:210px; text-align:center; background-image:url(../images/list_fl.png); background-repeat:no-repeat; height:45px; line-height:45px;}
.list_footer{ width:210px;background-image:url(../images/list_fl_ft.png); background-repeat:no-repeat; height:21px; margin-top:10px; }
.left_fl1{float: left;}
.left_fl1 ul{ clear: both;}
.left_fl1 p{ color:#fff;font-size:18px; font-family:"å¾®è½¯é›…é»‘"; float:left; width:123px; text-align:center}
.left_fl1 ul li{ height:40px; line-height:40px; border-bottom:#c6cac9 dashed 1px; font-size:16px; text-align:center;width:210px;}
.left_fl1 ul li a:hover{ display:block;background-color:#aec8f2;height:40px; line-height:40px;}
.list_fr{ width:762px; float:right}
.list_fr2{ width:742px; float:right}

.list2_fl{float:left;width:363px;}
.list2_fr{float:right;width:363px;}
.list2{ background-image:url(../images/bg3.png); background-repeat:no-repeat; height:230px; margin-top:0px;}
.list2 ul{ clear:both; width:350px; margin-left:auto; margin-right:auto; padding-top:20px;}
.list2 ul li {
    background: url(../images/ico3.png) no-repeat 0px 8px;
    padding-left: 15px;
    height: 30px; margin-left:15px;
}


.list2a{ background-image:url(../images/bg3a.png); background-repeat:no-repeat; height:363px; margin-top:0px;}
.list2a ul{ clear:both; width:350px; margin-left:auto; margin-right:auto; padding-top:20px;}
.list2a ul li {
    background: url(../images/ico3.png) no-repeat 0px 8px;
    padding-left: 15px;
    height: 30px; margin-left:15px;
}
.list2a .lanmu{ color:#376abb; font-size:14px; float:left;height:36px; line-height:36px; padding-left:10px; font-weight:bold}
.list2a .more a{ color:#fff; font-size:14px; float:right; font-size:12px; height:36px; line-height:34px; padding-right:20px;}



.list_title2{}

.list_title2 p {
 color:#2d2929;
    font-size: 18px;
    font-family: å¾®è½¯é›…é»‘;
    line-height:30px; padding-left:10px; border-bottom:#376abb solid 2px; width:732px;
}
.list2 .lanmu{ color:#376abb; font-size:14px; float:left;height:36px; line-height:36px; padding-left:10px; font-weight:bold}
.list2 .more a{ color:#fff; font-size:14px; float:right; font-size:12px; height:36px; line-height:34px; padding-right:20px;}

.list_title1 ul{clear:both;padding-top: 10px;padding-bottom: 50px; border-top:#376abb solid 2px;}
.list_title1 ul li{ background:url(../images/ico3.png) no-repeat 0px 8px;padding-left: 15px;height: 30px; }
.list_title1 ul li a{ float: left;font-size: 14px;color:#555555}
.list_title1 ul li a:hover{color:#376abb}
.biaoti {
 color:#2d2929;
    font-size: 18px;
    font-family: å¾®è½¯é›…é»‘;
    float: left; line-height:30px; padding-left:10px;
}
.list_title1 ul li span{ float: right;color:#aba6a6;font-size:12px;}
.dqwz {
    float: right;
    font-family: å¾®è½¯é›…é»‘;
    font-size: 12px;
    line-height: 30px;
    color:#555555
}
.dqwz a{color:#555555}

.menu_name{ color:#0069C2;font-size:18px; font-family:"å¾®è½¯é›…é»‘"; float:left;}
.weizhi{ float:right;  font-family:"å¾®è½¯é›…é»‘";font-size: 12px;line-height: 30px;text-align:right;}


.content{ clear: both;padding: 30px; border-top:#376abb solid 2px}
.content h1{ font-size: 24px; font-family:"å¾®è½¯é›…é»‘";text-align: center; color:#010101 }
.content_inner{background-image: url(../images/title_bg2.png);background-repeat: repeat-x;height: 32px;line-height: 32px;padding-top: 10px;margin-top: 30px; }
.content_xx{ float: left;padding-left: 80px;}
.content_data{ float: right;padding-right: 80px;}
.content_zw{padding:5px;font-size: 14px;clear: both;line-height: 36px;margin-top:10px;width:680px;}
.content_zw p img,.content img{MAX-WIDTH: 100%!important;HEIGHT: auto!important;width:expression(this.width > 600 ? "600px" : this.width)!important;text-align:center;display:block;margin:0 auto;}

.toutiao_bg{ background-image:url(../images/toutiao_bg.png); background-repeat:repeat-x; height:140px;}
.fujian {font-size:14px;font-weight:bold;color:#376abb;padding-top:20px;line-height: 26px;width:682px;}
#Pic {
 text-align: left;
 padding-top: 5px;
}
#Pic ul{
 padding-left:0px;
}
#Pic ul li {
 float: left;
 margin-bottom: 10px;
 display: block;
 height: 200px;
 width: 262px; background-image:none;
}
#Pic ul li img {
 padding: 3px;
 height: 155px; background-color:#eaeaea;
 width: 240px;
}
#Pic ul li a {
 text-align: center;
 width: 246px;
 clear: both;
 font-size: 14px;
 line-height: 25px;
 overflow:hidden;
}

#vsb_content_2 P{LINE-HEIGHT: 200% !important;}

.xinjian{clear: both;
    padding-top: 10px;
    padding-bottom: 50px;
    border-top: #c40202 solid 2px;}
.contentstyle43925{text-indent:0em !important}

 .nav_menustyle_2_2a
    {
        padding-left:4px;
       }
    
    .nav_menustyle_2_2a div.menu_all_inc44950
    {
        padding-right:4px;
       }
    
    .nav_menustyle_2_2a div.menu_allc44950
    {
        height:73px;
        
background-image:url(../images/dh1.png);
 background-repeat: repeat-x;
}
    
    .nav_menustyle_2_2a ul
    {
        padding:0;
        margin: 0;
        list-style:none;}
    .nav_menustyle_2_2a div.menu1 ul li
    {
        height:35px;
        float:left;}
    .nav_menustyle_2_2a div.menu1 ul li.menu_line
    {
        width:8px;
       }
    .nav_menustyle_2_2a div.menu1 ul li a
    {
        float:left;
        padding-left:6px;
        height:35px;
        display:block;
        text-decoration:none;
        background:url(../images/menu_on_left.gif) no-repeat left top;}
    .nav_menustyle_2_2a div.menu1 ul li a span
    {
        float:left;
        padding:11px 14px 10px 10px;
        cursor:pointer;
        word-break:break-all;
        background:url(../images/menu_on_right.gif) no-repeat right top;}
    .nav_menustyle_2_2a div.menu1 ul li a.nav_on
    {   
        background-position:left 100%;}
    .nav_menustyle_2_2a div.menu1 ul li a.nav_on span
    {  
              background-position:right 100%;
  padding:14px 14px 7px 10px;}
    .nav_menustyle_2_2a div.menu2
    {
        clear:both;
        padding:0px;
        margin:0px;
        text-align:left;
        padding-left:20px;}
    .nav_menustyle_2_2a div.menu2 div
    {
        height:22px;
        padding-top:6px;
        display:none;}
    .nav_menustyle_2_2a div.menu2 div.nav_welcome
    {
        display:block;
        padding:0px;
        padding-top:6px;
        padding-left:3px;}
    .nav_menustyle_2_2a div.menu2 div.nav_on
    {
        display:block;}
    .nav_menustyle_2_2a div.menu2 ul li
    {
        height:22px;
        float:left;}
    .nav_menustyle_2_2a div.menu2 ul li.menu_line
    {
        background:url(/system/resource/images/nav/blue2level/menu_line2.gif) no-repeat center top;
        width:15px;}
    .nav_menustyle_2_2a div.menu2 li a
    {
        display:block;
        float:left;
        cursor:pointer;
        padding-left:3px;
        text-decoration:none;}
    .nav_menustyle_2_2a div.menu2 li a span
    {
        float:left;
        padding:6px 10px 4px 10px;}
    .nav_menustyle_2_2a div.menu2 li a:hover
    {
        background:url(/system/resource/images/nav/blue2level/menu_on_left2.gif) no-repeat left bottom;}
    .nav_menustyle_2_2a div.menu2 li a:hover span
    {
        background:url(/system/resource/images/nav/blue2level/menu_on_right2.gif) no-repeat right bottom;}
.nav_menustyle_2_2a
{
    width:998px;}
.nav_menustyle_2_2a div.menu1 ul
{
    padding-left:20px;}
.nav_menustyle_2_2a div.menu1 ul li a span
{
    font-size:14px;   
    font-weight:bold;  
    line-height:14px;  
    color:#ffffff;}
.nav_menustyle_2_2a div.menu1 ul li a.nav_on span
{
    color:#333333;}
.nav_menustyle_2_2a div.menu2 li a span
{
    font-size:12px;   
    line-height:12px;  
    color:#333333;}
.nav_menustyle_2_2a div.menu2 li a.nav_on span
{
    font-weight:bold;}
.nav_menustyle_2_2a div.menu2 li a:hover span
{
    color:red;}
.nav_menustyle_2_2a div.menu2 div.nav_welcome
{
    font-size:12px;   
    line-height:12px;   
    color:#333333;}
.fbt{padding-top:10px;text-align:center; }