@charset "UTF-8";
/* CSS Document */
html, body,ul, h1,li, p, h2, h3, h4, h5, h6, fieldset, legend span{ padding:0; margin:0;}
/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
ol,ul,li{list-style:none; *font-size:0;} 
*{margin:0; padding:0; margin:0 auto;}
img{border:0;}
a{ text-decoration:none;  font-family:"微软雅黑","Myriad Set Pro","Helvetica Neue","Helvetica","Arial","sans-serif"}
input,textarea{BACKGROUND-COLOR: transparent; border:none;overflow:auto;outline:none; }
.dw{ clear:both;}
.saicbox{width:100%; background:#fff;  transition:all 1s; -moz-transition:all 1s; /* Firefox 4 */
-webkit-transition:all 1s; /* Safari and Chrome */-o-transition:all 1s; /* Opera */}/*20180122新增样式*/
.dw{ clear:both;}
.saictop{ height:5px; width:100%; background:#003182; line-height:30px; border-bottom:1px solid #fff;}
.saictime{ float:left; width:200px; height:30px; line-height:30px; font-size:12px; color:#fff; background:url(image/ico6.png) no-repeat left center; padding-left:20px;}
.saictopbox{ width:1013px;}
.logo{ width:1013px; padding:34px 0;}

/*******搜索*******//*save**/
.logobg{ width:100%; height:136px; background:#fff;}
.logo{ width:1013px; height:136px; position:relative;}
.searchbox{ position:absolute; right:0; top:18px; *width:350px; *height:37px; width:350px;}
.search_box{ width:340px; height:32px;position:relative;  line-height:32px; float: right; background:#999;}
.search_btn{ position:absolute; width:18px; height:18px; line-height:18px; right:13px; cursor:pointer; top:8px; text-align:center;}
.search_box input{ width:283px; vertical-align:middle; line-height:33px; height:33px; font-size:12px; color:#000040; padding-left:10px; margin-bottom:1px;}
.search_btn i{ color:#333; font-size:23px;}
.search_btn input{ width:18px; vertical-align:middle; line-height:28px; height:18px; font-size:12px; color:#ffffff; padding-left:0; margin-bottom:1px;}
.searchX{ position:absolute; top:0; right:40px; color:#666; font-size:14px; cursor:pointer; display:none;}
.searchX i{ color:#000000!important;}
.search_hot{padding-left:12px; height:24px; font-weight:bold; width:290px; padding-top: 5px;}
.search_hot01{ color:#333; padding-right:10px !important;}
.search_hot02{ float:left; font-size:14px; padding-right:12px;}
.search_hot02 a{color:#023e8a; font-size:14px;}
.search_hot02 a:hover{ text-decoration:underline;}
.logoimg{ position:absolute; left:0; top:28px; width:709px; height:73px;}

/*******导航*******/
/* nav_menu */
.nav_menu{ width:1013px; border-bottom:2px solid #003366; height:48px; line-height:48px;}
.nav{width:1013px; position:relative; margin:0 auto;}
.nav .list li{font-size:18px; width:14.2%;  height:48px; line-height:48px; float:left; text-align:center;}
.nav .list a{display:block; text-align:center; color:#fff; font-size:18px; font-weight:bold;}
.nav .list a:hover{ background:url(image/img02.png) no-repeat center bottom; height:48px;}
.nav .list a:hover,.nav .list .now{color:#fff; background:url(image/img02.png) no-repeat center bottom;}
.nav .box{position:absolute; left:0; top:50px; width:1013px; background:#FFF;overflow:hidden;filter:alpha(opacity=0);opacity:0;border:1px solid #ccc; z-index:99 ; border-top:none;}
.nav .cont{position:relative;padding:0 0 25px 24px;}
/* sublist */
.sublist li{float:left;width:168px;padding-right:24px;padding-bottom:24px;}
.sublist li h3.mcate-item-hd{font-family:'微软雅黑'; padding-left:2px;font-size:14px;height:26px;line-height:26px;border-bottom:1px dashed #666666;}
.sublist li p.mcate-item-bd{padding-left:2px;}
.sublist li p.mcate-item-bd a{height:26px;line-height:26px;margin-right:5px;font-size:12px;color:#666666;text-decoration:none;display:inline-block;}
.sublist li p.mcate-item-bd a:hover{color:#6c5143;text-decoration:underline;}

.navLeft{ width:740px; float:left; padding-left:10px;}
.navLeft01{ float:left; font-size:18px; text-align:center; width:149px; height:36px; line-height:36px;  background:url(image/ico66.png) no-repeat center; padding:0 7px;}
.navLeft01 a{ color:#fff; }
.navLeft01:hover{ background:url(image/ico67.png) no-repeat center;}
.navLeft01bg{ background:#003366;  -moz-border-radius:5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; width:50%;}
.navLeft01bg a{ color:#fff;}
.navtale01{ height:22px; line-height:22px; font-size:12px; text-align:left; padding-left:23px; font-family:'微软雅黑';}
.navtale01 a{ color:#333;}
.navtale01 a:hover{ text-decoration:underline; color:#003366;}
.navtale02{ width:32px; text-align:center; padding-left:0 !important; font-size:16px; font-weight:bold; line-height:20px; background:#1a92ff; height:90px; color:#fff;}
.navLeftline{height:20px; width:100%;}
.navLeftline01{height:40px; width:93%; background:url(image/img15.jpg) repeat-x  center;}
.navRight{width:218px; float:left; border-right:1px solid #ccc; padding-left:20px; padding-right:20px;}
.navRight01{ float:left; font-size:14px; color:#333;  padding-left:30px; text-align:left; width:100px; padding-bottom:45px;}
.navRight0101{ float:left; font-size:14px; color:#333; padding-bottom:10px; text-align:left; }
.navRight03{ padding-left:20px;}

.navLeft03{ float:left; font-size:16px; text-align:center; width:20%; height:38px; line-height:38px;}
.navLeft03 a{ color:#333;}
.navLeft03a{ float:left; font-size:16px; text-align:center; width:20%; height:38px; line-height:38px;}
.navLeft03a a{ color:#333;}
.navLeft0301{float:left; font-size:16px; text-align:center; width:25%; height:38px; line-height:38px;}
.navLeft0301 a{ color:#333;}
.navLeft03 a:hover{ text-decoration:underline; color:#003366;}/*color:#003366;*/
.navLeft02{ width:95%;}
.navLeft03bg{ background:#003366;  -moz-border-radius:5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; width:50%;}
.navLeft03bg a{ color:#fff !important;}
.navLeft0301{ font-size:14px; float:left;  height:38px; line-height:38px;}
.navLeft0301 a{ color:#333 !important;}
.navLeft0301 a:hover{ text-decoration:underline; color:#003366;}

.navLeft04{ float:left; font-size:16px; text-align:center; height:38px; line-height:38px; width:12%;}
.navLeft04 a{ color:#333;}
.navLeft04bg{ background:#003366;  -moz-border-radius:5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; width:100%;}
.navLeft04bg a{ color:#fff !important;}
.navLeft0401{ padding:0 20px; font-size:14px; float:left;  height:38px; line-height:38px;}
.navLeft0401 a{ color:#333;}
.navLeft0401 a:hover{ text-decoration:underline; color:#003366;}
.navLeft04dw{ width:14%;}

.navLeft05{ float:left; font-size:16px; text-align:center; height:38px; line-height:38px; width:12%;}
.navLeft05 a{ color:#333;}
.navLeft05bg{ background:#003366;  -moz-border-radius:5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; width:100%;}
.navLeft05bg a{ color:#fff;}
.navLeft05bg a:hover{ color:#fff; text-decoration:none;}
.navLeft0501{ padding:20px; font-size:14px; float:left;}
.navLeft0501 a{ color:#333;}
.navLeft0501 a:hover{ text-decoration:underline; color:#003366;}
.navLeft05box{ padding-top:10px;}
.navLeft0501_contentbox{ padding-top:20px;}
.navLeft05line{background:url(image/img04.jpg) repeat-x left center; height:30px; }

.navLeft06{ float:left; font-size:16px; text-align:center; height:38px; line-height:38px; width:12%;}
.navLeft06 a{ color:#333;}
.navLeft06bg{ background:#003366;  -moz-border-radius:5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; width:100%;}
.navLeft06bg a{ color:#fff;}
.navLeft0601{ padding:0 20px; font-size:14px; float:left;  height:38px; line-height:38px;}
.navLeft0601 a{ color:#333;}
.navLeft0601 a:hover{ text-decoration:underline; color:#003366;}
.navLeft06dw{ width:14%;}

.navLeft07{ float:left; font-size:16px; text-align:center; height:38px; line-height:38px; width:12%;}
.navLeft07 a{ color:#333;}
.navLeft07 a:hover{ text-decoration:underline; color:#003366;}
.navLeft07bg{ background:#003366;  -moz-border-radius:5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; width:100%;}
.navLeft07bg a{ color:#fff;}
.navLeft0701{ padding:0 20px; font-size:14px; float:left;  height:38px; line-height:38px;}
.navLeft0701 a{ color:#333;}
.navLeft0701 a:hover{ text-decoration:underline; color:#003366;}
.navLeft07dw{ width:14%;}

.navLeft08{ float:left; font-size:16px; text-align:center; height:38px; line-height:38px; width:12%;}
.navLeft08 a{ color:#333;}
.navLeft08 a:hover{ text-decoration:underline; color:#003366;}
.navLeft08bg{ background:#003366;  -moz-border-radius:5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; width:100%;}
.navLeft08bg a{ color:#fff;}
.navLeft0801{ padding:0 20px; font-size:14px; float:left;  height:38px; line-height:38px;}
.navLeft0801 a{ color:#333;}
.navLeft0801 a:hover{ text-decoration:underline; color:#003366;}
.navLeft08dw{ width:14%;}
.nvabox{ width:100%; background:#003366;}
.newbannerbox{width:1013px;clear:both; padding:20px 0;}
.newbanner01{ font-size:30px; color:#333; width:100%; text-align:center;}
.newbanner01 a{ color:#023e8a;}
.newbanner01 a:hover{ color:#4a6fa7;}
.newbanner02{ float:left; font-size:14px; color:#023e8a; padding:0 10px; font-weight:bold; }
.newbanner02 a{ color:#023e8a; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.newbanner02box{padding-top:5px;}





/*********************图文**************************//*save*/
.imgneNew{ width:1013px; padding-top:5px; position:relative;}
.imgLeft{ width:1013px; height:347px; position:relative; z-index:1; float:center; overflow:hidden;}
#imgLeftbox { width:100%; height:347px; float:center; position:relative}
#slides { display:block; width:100%; height:347px; list-style:none; padding:5; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:5; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; }
#pagination { display:block; list-style:none; position:absolute; right:0; bottom:10px; z-index:9900;  padding:5px 15px 5px 0; margin:0; overflow:inherit !important;}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF;}
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#003366}
.imgRight{ float:right; width:0px; height:347px; background:#f1f1f1; position:relative;}
.imgRighttitle{ font-size:16px; background:#e3e3e3; width:95%; line-height:32px; height:32px; padding-left:5%;}
.imgRighttitle a{ color:#cb2222;}
.imgRightline{ background:url(image/img04.jpg) repeat-x left center; width:100%; height:10px; padding-bottom:5px;}
.imgRightline01{ background:url(image/img03.jpg) repeat-x left center; width:100%; height:20px;}
.imgRight01{ width:100%; font-size:16px; line-height:25px;font-weight:bold; padding-bottom:5px; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.imgRight01new{font-size:16px; background:url(image/ico4.png) no-repeat 19px 20px; padding:12px 11px 12px 35px; line-height:18px; position:relative; height:36px;}
.imgRight01new:hover{ background:url(/image/ico4.1.png) no-repeat 19px 20px;}
.imgRight01new a{ color:#333; display:block;}
.imgRight01new a:hover{ color:#107bcc; display:block;}
.sa-1{ position: absolute; bottom:0; left:0; height: 69px;}
.sa-1 a{ display: block;}
.imgRight02line{ background:url(image/img19.jpg) repeat-x left center; height:2px; width:100%;}
.imgRight01time{ position:absolute; font-size:12px; color:#666; position:absolute; right:11px; bottom:5px; color:#000; opacity:0.3; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);}
.imgRightnew01{ position:relative; } 
.imgtext01{ position:absolute; bottom:0; height:40px; width:100%; background:rgba(0, 0, 0, 0.8)!important;
filter:Alpha(opacity=60); background:#000; /*　使用IE专属滤镜实现IE背景透明*/ }
.imgtext0101{ position:relative; color:#fff; height:40px; line-height:40px; width:80%; padding-left:5px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; float:left;}
.imgtext0101 a{ color:#fff;}




.footerline{ background:#cb2222; height:2px; width:100%;}
.footer{ width:1000px; padding-top:16px; position:relative;}
.footer01L{ width:257px !important; float:left; text-align:right; padding-right:40px; color:#505b67; background:url(image/ico35.png) no-repeat 170px center;}
.footer01{ float:left; padding-left:10px;  font-size:14px;  height:26px; line-height:26px; cursor:pointer; width:160px;} 
.footer01 a{ color:#505b67;}
.footer02{ border:1px solid #7d7d7d; height:24px; line-height:24px; width:147px; color:#505b67; font-size:14px; position:relative; position:relative; padding-left:11px;}
.footerdot,.footerdot01{ position:absolute; right:10px; top:0; background:url(image/img56.png) no-repeat center; height:24px; width:10px;}
.footerdot01{background:url(image/img56.1.png) no-repeat center;}
.footertc{ width:148px; position:absolute; bottom:24px; border:1px solid #ccc; left:-1px; background:#fff; padding:5px;}
.footertc01{ border-bottom:1px solid #f2f2f2;}
.footertc01:hover{ background:#f2f2f2;}
.footer03{ width:100%; height:34px; line-height:34px;clear:both; padding-top:20px;}
.footerbannertxt{ position:absolute; color:#003366; font-size:18px; font-weight:bold; left:0; top:0px; width:130px; height:70px; background:#cb2222; color:#fff; line-height:70px; text-align:center;}
.footer0301{}/* width:480px;*/
.footer030101{ float:left; width:120px; text-align:center; font-size:14px; background:url(image/ico36.png) no-repeat left center; height:22px; line-height:22px;}
.footer030101 a{ color:#fff;}  
.footer04{  width:50%; padding:20px 0; font-size:12px; color:#fff; text-align:center; line-height:24px; font-family:''; position:relative;}
.footer030102{ background:url(image/ico37.png) no-repeat left center;}
.footer030103{ background:url(image/ico38.png) no-repeat left center;}
.footer030104{ background:url(image/ico39.png) no-repeat left center;}
.footerimg{height:68px; width:56px; position:absolute; left:50px; top:30px;}
.footerimgright{position:absolute; right:0; top:30px;}


/*********************修改顶部导航**************************//*save*/
.head-v3{position:relative;z-index:100;min-width:1013px}
.head-v3 .navigation-inner{margin:0 auto;width:1013px;position:relative}
.navigation-up{height:43px;background:#e3e3e3; border-top-color:d9d9d9;}
.navigation-up .navigation-v3{float:left;margin-left:0px; width:1013px;}
.navigation-up .navigation-v3 ul{margin-left:100px;float:left}
.navigation-up .navigation-v3 li{float:left; font-size:18px; line-height:42px;color:#333; font-weight:bold;}
.navigation-up .navigation-v3 .nav-up-selected{ background:url(image/img14.jpg) no-repeat center top; position:relative;}
.navigation-up .navigation-v3 .nav-up-selected-inpage{background:#fff}
.navigation-up .navigation-v3 li {font-weight:normal;padding:0;margin:0; }
.navigation-up .navigation-v3 li a{ padding:0 96px; color:#023e8a;display:inline-block;height:42px; line-height:42px; font-weight:bold; font-family:"microsoft yahei"}
.nav-up-selected-inpage{ border:1px solid #cb2222; border-bottom:none; border-top:0;}
.nav-up-selected-inpage a{color:#cb2222 !important;}

/*.nav-up-selected .a:hover{color:#333;}*/
.navigation-up .navigation-v3 li.nav-up-selected a{color: #e22828}


/* flexslider */
.flexslider{position:relative;height:347px;overflow:hidden;background:url(image/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:347px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;text-align:center; right:10px;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(image/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%; overflow:visible; display:none;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(image/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(image/next.png) center center no-repeat;}


.contentLeft09{width:100%;}
.indexLeftdwbg{ height:14px; }/*background:#fcfcfc;*/
.indexRightlinebg{ height:20px; background:url(image/imgline.jpg) repeat-x left bottom; clear:both;}
.contenttextnew01{ height:24px; line-height:24px; float:left;}
.contenttextnew01 a{ text-align:left; width:100%; display:block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.contentRight0101nonebg{ background:none;}
.contentRight0101nonebg a{ color:#cb2222; font-weight:bold;}
.hotzt{ top:5px !important;}
.contentLeft02imgN501{ height:83px; width:100%; float:left; overflow:hidden; }
.hotonline{ position:absolute; top:12px; left:15px; width:21px; height:16px;}
.contentRight0401N0502{ width:30px;}
.contentRight0401N05{ padding:0 4px;}
.navline{ height:1px; width:100%; background:#107bcc;}
.navbgline{ background:#cb2222; position:absolute; top:0; height:5px; width:127px; left:0;}
.home01{ background:url(image/ico12.png) no-repeat  40px center; display:block;}
.jg01{ background:url(image/ico13.png) no-repeat  40px center; display:block;}
.nav-up-selected-inpage01{background:url(image/ico12.png) no-repeat  40px center; display:block;}
.news01{background:url(image/ico14.png) no-repeat  40px center; display:block;}
.zw01{background:url(image/ico15.png) no-repeat  40px center; display:block;}
.fw01{background:url(image/ico16.png) no-repeat  40px center; display:block;}
.hd01{background:url(image/ico17.png) no-repeat  40px center;  display:block;}
.data01{background:url(image/ico18.png) no-repeat  40px center;display:block;}

.zt01{background:url(image/ico19.png) no-repeat left center; display:block;}
.home01_ch,.nav-up-selected .home01{ background:url(image/ico12.1.png) no-repeat  40px center; display:block;}
.jg01_ch,.nav-up-selected .jg01{ background:url(image/ico13.1.png) no-repeat  40px center; display:block;}
.nav-up-selected-inpage01_ch,.nav-up-selected .nav-up-selected-inpage01{background:url(image/ico12.1.png) no-repeat  40px center; display:block;}
.news01_ch,.nav-up-selected .news01{background:url(image/ico14.1.png) no-repeat 40px center; display:block;}
.zw01_ch,.nav-up-selected .zw01{background:url(image/ico15.1.png) no-repeat 40px center; display:block;}
.fw01_ch,.nav-up-selected .fw01{background:url(image/ico16.1.png) no-repeat  40px center; display:block;}
.hd01_ch,.nav-up-selected .hd01{background:url(image/ico17.1.png) no-repeat  40px center;  display:block;}
.data01_ch,.nav-up-selected .data01{background:url(image/ico18.1.png) no-repeat 40px center;display:block;}
.zt01_ch,.nav-up-selected .zt01{background:url(image/ico19.1.png) no-repeat  40px center; display:block;}

.dzimgjia{ position:absolute; width:56px; height:56px; text-align:center; background:url(image/ico28.1.png) no-repeat center top; left:50%; margin-left:-28px; moz-border-radius: 5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; left:50%; top:12px;}
.dzimgjia01{ position:absolute; width:56px; height:56px; text-align:center;background:url(image/ico28.png) no-repeat center top; left:50%; margin-left:-28px; moz-border-radius: 5px;      /* Gecko browsers */ -webkit-border-radius:5px;   /* Webkit browsers */ border-radius:5px; left:50%; top:12px;}


.dzimgtext01{  padding-top:60px; font-size:12px; line-height:15px; }

.contentLeftitle,.sama-5-2{ float:left; padding:0 14px; height:34px; line-height:34px; background:#cb2222; font-size:20px; font-weight:bold; text-align:center; color:#fff; padding:0 14px;}
.contentLeftitle a{color:#fff;}

.navtitlebg,.navtitlebg01{ position:absolute; padding:0 20px; height:34px; background:#023e8a; color:#fff; font-size:16px; font-weight:bold; line-height:34px; text-align:center; top:-3px; left:12px;}
.navtitlebg01{width:120px;}
.navtitlebg a{ color:#fff;}
.navtitlemore{ position:absolute; right:11px; top:0; *top:15px; width:12px; height:30px;}
.navtitlemore a{ display:block;}
.nav03subline{ background:#dce1e7; height:1px; width:100%; clear:both;}
.nav03dot{ position:absolute; height:6px; width:13px; background:url(image/ico33.png) no-repeat center; left:50%; margin-left:-6.5px; bottom:-6px;}
.nav03Rgihtbox{ font-size:16px; font-weight:bold; width:100%; height:30px; border:1px solid #dedede; position:relative; border-bottom:1px solid #107bcc;}
.sama-jg-1{ float:left;}
/*.nav03Right0101{position:absolute; width:90px; height:36px; background:#1a92ff; color:#fff; font-size:16px; font-weight:bold; line-height:36px; text-align:center; top:-4px; left:12px;}*/
.navimg{ font-size:14px; color:#666; position:absolute; height:37px; line-height:37px;  left:12px; top:-3px; z-index:10; text-align:center;  padding:0 20px;}
.navimg-1{height:33px; line-height:33px; }
.navimgcolor{background:#023e8a;}
.navimgcolor a{ font-size:16px; color:#fff !important; font-weight:bold;}
.navimg a{ color:#666;}

 
.area {
	width:1013px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
}
.js {
	POSITION: relative;
	WIDTH:1013px;
	HEIGHT: 347px;
	margin:0 auto;
}
.prevBtn {
	BACKGROUND:url(image/news_img_01h.png) no-repeat;
	HEIGHT:36px;
	WIDTH: 36px;
	display:block;
	position:absolute;
	left:10px;
	top:45%;
}
.prevBtn:hover {
	BACKGROUND:url(image/news_img_01.png) no-repeat;
}
.nextBtn {
	BACKGROUND:url(image/news_img_02h.png) no-repeat;
	HEIGHT:36px;
	WIDTH: 36px;
	display:block;
	position:absolute;
	right:10px;
	top:45%;
}
.nextBtn:hover {
	BACKGROUND:url(image/news_img_02.png) no-repeat;
}
.imgSelected {
	BACKGROUND: url(image/jsNav.png) no-repeat;
}
.bg {
	width:100%;
	padding-top:1px;
	background:url(image/bg01.png) no-repeat;
	_background:none;/*IE6*/
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/bg01.png");/*IE6*/
	height:34px;
	left:0;
	FONT-WEIGHT: bold;
	top:280px;
	position:absolute;
}
.jsNav {
	position:absolute;
	right:0;
	bottom:10px;
}
.jsNav a {
	width:20px;
	font-size:14px;
	margin-right:6px;
	display:inline;
	height:20px;
	line-height:20px;
	display:block;
	float:left;
	text-align:center;
	color:#000;
	background:url(image/dot.png) no-repeat center;
}
.jsNav a:hover {
	background:url(image/dot1.png) no-repeat center;
	color: #fff;
	text-decoration:none;
}
.jsNav .imgSelected {
	background:url(image/dot1.png) no-repeat center;
	color: #fff;
}
.qq {
	display:none;
	z-index:200
}




/*********************主要内容**************************/
.contentbox{ width:1013px; padding-top:40px;  z-index:-1}/*padding-bottom:30px;*/
.contentLeft{ width:320px; float:right; padding-bottom:26px;}
.contentLeft01{ width:670px; padding-bottom:26px;}
.contentLeft0101{ float:left; padding:0 14px; height:34px; line-height:34px; position:relative; z-index:1;}
.contentLeft0101line{ padding:0; width:1px; color:#999999; float:left; height:34px; line-height:34px; font-weight:normal !important;}
.contentLeft0101 a{ color:#333; font-size:14px;}
.contentLeft0301{ float:left; padding:0 15px; height:34px; line-height:34px; position:relative;}
.contentLeft0301 a{ color:#333; font-size:14px;}
.contentLeft0302{ float:left; padding:0 15px; height:34px; line-height:34px;}
.contentLeft0302 a{ color:#333; font-size:16px;}
.contentLeft0101bg{ background:#fff; color:#cb2222; font-weight:bold; border:1px solid #cb2222; border-bottom:none;}
.contentLeft0101bg a{ color:#cb2222; font-size:18px; font-weight:bold;}
.contentLeft01line{ background:#107bcc; width:100%; height:1px; clear:both;}
.contentLeft01dw{height:15px; clear:both;}
.contentLeft0102box{ clear:both; font-size:0;}
.contentLeft0102{ width:80%; float:left; font-size:14px; height:28px; line-height:28px; background:url(image/ico4.png) no-repeat left center; padding-left:15px;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.contentLeft0102 img{ display:inline-block; margin-left:10px;}
.contentLeft0102 a{ color:#333; display:block;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.contentLeft0102 a:hover{ color:#1a92ff; text-decoration:underline; display:block; }

.contentLeft0102sj{ width:90%; float:left; font-size:14px; height:28px; line-height:28px; background:url(image/ico4.png) no-repeat left center; padding-left:15px;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.contentLeft0102sj img{ display:inline-block; margin-left:10px;}
.contentLeft0102sj a{ color:#333; display:block;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.contentLeft0102sj a:hover{ color:#1a92ff; text-decoration:underline; display:block; }
.contentLeft0102time { float:right; color:#999; font-size:12px; height:30px; line-height:30px;}
.contentLeft02img,.contentLeft03img{ height:90px; float:left; overflow:hidden;}
.contentLeft03img{ height:83px; width:114px;}
.contentLeft0201{ width:480px; float:left; font-size:14px; height:89px; line-height:24px; padding-left:10px; overflow:hidden;}
.contentLeft0201 a{ color:#808080; display:block; font-size:12px; font-family:'微软雅黑'}
.contentLeft0201 a:hover{ color:#1a92ff; text-decoration:underline; display:block;}
.contentLeft02dw{ clear:both; height:5px;}
.contentLeft04box{ width:100%; height:34px; line-height:34px; background:#e3e3e3; position:relative;}
.contentLeft0401{font-size:14px; float:left; padding:0 15px; position:relative;}
.contentLeft0401 a{ color:#333;}
.contentLeft0402{ float:right;font-size:12px; padding:0 15px; color:#003366}
.contentLeft0402 a{ color:#003366}
.contentLeft0401bg{ background:#fff; color:#cb2222; font-weight:bold; border:1px solid #cb2222; border-bottom:none;}
.contentLeft0401bg a{color:#cb2222; font-size:18px; font-weight:bold;}
.contentLeft0401bgline{ height:1px; width:100%; background:#ca000b; position:absolute; bottom:0; left:0;}
.contentLeft0401content01{ padding-top:20px;}
.contentLeft0401content0101{ font-size:14px; color:#333; float:left; padding:0 18px; height:32px; line-height:32px; position:relative;}
.contentLeft0401content0101 a{ color:#808080;}
.contentLeft0401content0101bg{ position:relative;}
.contentLeft0401content0101bg a{ color:#1782e3;}
.contentLeft0401content0201{ float:left; width:55%; font-size:14px; height:28px; line-height:28px; background:url(image/ico4.png) no-repeat left center; padding-left:10px;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.contentLeft0401content0201 a{ color:#333;}
.contentLeft0401content0202 a{ color:#333;}
.contentLeft0401content0201 a:hover{ text-decoration:underline; color:#1a92ff;}
.contentLeft0401content02{ padding-top:6px; clear:both;}
.contentLeft0401content0202{ float:left; font-size:12px; height:28px; line-height:28px;}
.contentLeft0401content0202 a{ color:#676767; display:block;}
.contentLeft0401content0202bg{}
.contentLeft0401content0202bg a{ color:#676767; display:block;}
.contentLeft0401content0202bg01{}



.contentLeft0401content03{ padding-top:20px;}
.contentLeft0501content0101{ font-size:14px; color:#333; float:left; padding:0 18px; height:32px; line-height:32px; position:relative;}
.contentLeft0501content0101 a{ color:#808080;}
.contentLeft0501content0101bg{ position:relative;}
.contentLeft0501content0101bg a{  color:#1782e3;}
.contentLeft0501content02{ padding-top:6px; clear:both;}

.contentLeft0401content04{ padding-top:20px;}
.contentLeft0601content0101{ font-size:14px; color:#333; float:left; padding:0 18px; height:32px; line-height:32px; position:relative;}
.contentLeft0601content0101 a{ color:#808080;}
.contentLeft0601content0101bg{ position:relative;}
.contentLeft0601content0101bg a{  color:#1782e3;}
.contentLeft0601content02{ padding-top:6px; clear:both;}

.contentLeft0401content05{ padding-top:20px;}
.contentLeft0701content0101{ font-size:14px; color:#333; float:left; padding:0 18px; height:32px; line-height:32px; position:relative}
.contentLeft0701content0101 a{ color:#808080;}
.contentLeft0701content0101bg{ position:relative;}
.contentLeft0701content0101bg a{ color:#1782e3;}
.contentLeft0701content02{ padding-top:6px; clear:both;}
.contentLeft0102_contentbox{ height:160px; padding:0 18px;}

.contentLeftNew01{ height:34px; width:100%; background:#f7f7f7; border:1px solid #e5e5e5;border-bottom:1px solid #107bcc; position:relative;}
.contentLeft0101moer{ position:absolute; right:11px; width:12px; height:2px; top:3px;display:none;}
.contentLeftNew02,.contentLeftNew02_1,.contentLeftNew04_1{ position:absolute; top:0; height:3px; width:100%; left:0; background:#cb2222; z-index:1}
.contentLeftNew03,.contentLeftNew03_1,.contentLeftNew04_2{ position:absolute; bottom:-1px; width:100%; height:1px; left:0; background:#FFFFFF; z-index:1}
.sama-box{ width:1013px; clear:both; position:relative;}
.contentRight{ width:670px; float:left;}
.sama-2 li a{ display:inline-block; font-size:14px; color: #333; padding:7px 7px 0px 7px;}
.sama-2 li a:hover{ color:#1a92ff; text-decoration: underline;}
.sama-2-line a{ padding:5px 7px 15px 7px !important;}
.sama-2-dw a{ padding-top:15px !important;}
.sama-2-line{ border-bottom:1px dashed #b1b8cb;}
.sama-3{ font-size:14px; color:#333; line-height:28px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5;
overflow: hidden; text-indent: 2em; height:85px; position: relative;}
.sama-4{ width:1013px; height: 190px;}
.sama-4  ul{ clear:both;}
.sama-4 li{ float:left; text-align:center;}
.sama-4 li a{  height:81px; text-align:center; display:block;  color:#fff; transition: all .5s; -moz-transition: all .5s; /* Firefox 4 */ -webkit-transition: all .5s; /* Safari 和 Chrome */
-o-transition: all .5s; }
.sama-4-1 li{width:330px; margin-right: 11px; height:81px;}
.sama-4-1{ height:80px;}
.sama-4-2{ clear:both; margin: 0 auto;}
.sama-4-2 li{width:276px; margin-right: 11px; height:71px;}
.sama-4-1 li a{background:url(image/sama-2.png) no-repeat center; width:330px; font-size:20px; padding-top: 42px; }
.sama-4-1 li a:hover{ background:url(image/sama-2-hover.png) no-repeat center; color:#fff;}
.sama-4-2 li a{background:url(image/sama-3.png) no-repeat center; width:256px; font-size: 13px;  padding-top:50px;}
.sama-4-2 li a:hover{ background:url(image/sama-3-hover.png) no-repeat center; color:#fff;}
.footer-box{ width:100%; background:#e8e8e8; border-top:1px solid #cb2222; /*margin-top:20px*/}
.footer-1{ position:relative; width:1013px; height:60px}
.footer-title{ position:absolute; left:0; top:50%; margin-top: -17px; background:#cb2222; height:34px; line-height:34px; padding: 0 14px; font-size:20px; color:#fff; text-align:center; font-weight: bold;}
.footer-links{ padding-left:140px; height: 60px; line-height: 60px;}
.footer-links a{ display:inline-block; font-size:15px; color:#505b67; padding:0 17px;}
.footer-2{ height:185px; background:#012257; padding-top:27px;}
.footer-2-1{ margin:0 auto;}
.footer-2-1 li{ float:left; padding:0 10px;}
.footer-2-1 li img{ margin-right:10px; margin-bottom:-2px;}
.footer-2-1 li a{ font-size:14px; color:#fff;}
.footer-2-2{ margin:0 auto; clear:both; text-align:center; padding-top:38px;}
.footer-2-2 li { font-size:12px; color:#fff;  line-height:28px;}
.footer-img{ position:absolute; left:200px; top:50px;} 
.footer-img-1{ position:absolute; right:180px; top:50px;} 
/*小导航*/
.Second_banner{  width:1013px; height:40px; line-height:40px;}
.Second_banner li{ font-size:12px; color:#a1a7b2; float:left; padding-right:8px;}
.Second_banner li a{color:#a1a7b2;}
.samaclose{ position:absolute; right:20px; top:65px; cursor:pointer;}
.samaclose img{ width: 20px; height: 20px; position: absolute; right:0; top:0; transition: all .5s; -moz-transition: all .5s; /* Firefox 4 */ -webkit-transition: all .5s; /* Safari 和 Chrome */
-o-transition: all .5s;}
.samaclose img:hover{transform:rotate(180deg); -ms-transform:rotate(180deg); 	/* IE 9 */ -moz-transform:rotate(180deg); 	/* Firefox */
-webkit-transform:rotate(180deg); /* Safari 和 Chrome */ -o-transform:rotate(180deg); }
.gg{ position:fixed; right: 5px; bottom:5px; z-index: 999;  background:url(image/p2.png) no-repeat center; height:145px; width: 352px;  padding:97px 14px 0 14px; }
.gg span{  display: block; font-size: 14px; color: #333;text-indent: 2em; line-height: 24px; font-family:'微软雅黑',"Myriad Set Pro","Helvetica Neue","Helvetica","Arial","sans-serif"}
.gg a{display:block;color: #fff; text-align: center; font-size: 14px; margin-top: 5px; height: 30px; line-height: 30px; width: 159px;}
.gg a:hover{ background: url(image/gg-btn-hover.png) no-repeat center;}
.gg-img{position:fixed; right:40px; bottom:50px; cursor: pointer;}
.sama-more{ position: absolute; right: 0; bottom:0px; }
.sama-more a{font-size:12px; color:#1a92ff;}
.jg-xq-right-1{ font-family:inherit !important;}
.gg-btn{ background: url(image/gg-btn.png) no-repeat center; height: 30px; line-height: 30px; width: 159px;}
.gg-btn img{margin-bottom:-3px; margin-right: 5px;}
.sama-top-links{ text-align:right; padding-bottom: 7px;}
.sama-top-links a{color:#023e8a; font-size:14px; padding-left:8px; font-weight: bold;}
.sama-top-links a:hover{ text-decoration:underline;}
.sama-top-dw{  padding-left: 63px; width: 290px; text-align: left; padding-top: 5px;}
.sama-text-dw-1{letter-spacing:4.7px;}
.sama-text-dw-2{letter-spacing:1.55px;}
.sama-top-links-dw2 a{padding-left:2px;}
.sama-top-links-dw3{ padding-bottom:14px;}
.sama-top{ padding-bottom:10px; text-align: right;}

.sama-5-1{ float:left; padding:0 14px; height:34px; line-height:34px; position:relative; z-index:1;}
.sama-5-1line{ padding:0; width:1px; color:#999999; float:left; height:34px; line-height:34px; font-weight:normal !important;}
.sama-5-1 a{ color:#333; font-size:14px;}
.contentLeft0301{ float:left; padding:0 15px; height:34px; line-height:34px; position:relative;}
.contentLeft0301 a{ color:#333; font-size:14px;}
.contentLeft0302{ float:left; padding:0 15px; height:34px; line-height:34px;}
.contentLeft0302 a{ color:#333; font-size:16px;}
.sama-5-1bg{ background:#fff; color:#cb2222; font-weight:bold; border:1px solid #cb2222; border-bottom:none;}
.sama-5-1bg a{ color:#cb2222 !important; font-size:18px; font-weight:bold;}
.sama-6-1{ height:105px; padding:0 18px; padding-top: 15px;}
.gwy-img{ position: fixed; right:0; top:26%; z-index:9999;}
.gwy-img a{display:block;}
.sama-5-2 a{color:#fff; font-size: 20px; font-weight:bold;}
.samr-banner-text{ padding-top:10px; text-align: center;}
.samr-banner-text a{ font-size: 16px; color:#023e8a;}
.samr-banner-text a:hover{ color:#4a6fa7; text-decoration:none;}

/*----------测试返回总局首页图标------------*/
.samr-back{ position: fixed; right:0; top:390px;}


/*----------顶部任务栏------------*//*save*/
.saicbox{width:100%; background:#fff;  transition:all 1s; -moz-transition:all 1s; /* Firefox 4 */
-webkit-transition:all 1s; /* Safari and Chrome */-o-transition:all 1s; /* Opera */}/*20180122新增样式*/
.dw{ clear:both;}
.saictop{ height:30px; width:100%; background:#003182; line-height:30px; border-bottom:1px solid #fff;}
.saictime{ float:left; width:200px; height:30px; line-height:30px; font-size:12px; color:#fff; background:url(image/ico6.png) no-repeat left center; padding-left:20px;}
.saictopbox{ width:1013px;}
.saictopright{ float:right;}
.saictopright01,.saictopright02{ float:left; padding-right:12px; height:30px; line-height:30px; color:#fff; font-size:12px; position:relative; padding-left:20px;}
.saictopright01 a{ color:#fff;}
.saictopright02{ padding-right:0; padding-left:0px; color:#f0da4c;} 
.saictopright02 a{ color:#f0da4c;}
.saictopright01 img{ position:absolute; top:8px; left:0}
.navN2box{ width:100%;}

.imgRight{ position: relative;}
.img-tc{ position: absolute; top:120px; width: 345px; height: 110px; background: #000; z-index: 999; background: #3687df; display: none; background: url(image/ggtc1.png) no-repeat center;}